
__pycache__/
!.vscode/extensions.json
.DS_Store
.env
.flaskenv
.idea
.idea/
.installed.cfg
.python-version
.streamlit/
.venv/
.vscode/
.vscode/*
*.egg
*.egg-info/
*.local
*.log
*.njsproj
*.ntvs*
*.py[cod]
*.sln
*.suo
*.sw?
*.swo
*.swp
*$py.class
# Build / Distribution
# Desktop App (Local only)
# Editor directories and files
# Environment variables
# IDE / Editor
# Logs
# OS
# Playwright
# Python
# Streamlit
blob-report/
build/
dist
dist-ssr
dist/
env/
ENV/
lerna-debug.log*
logs
main.py
node_modules
npm-debug.log*
playwright-report/
playwright/.local-browsers/
pnpm-debug.log*
pyvenv.cfg
test-results/
Thumbs.db
venv/
yarn-debug.log*
yarn-error.log*
